<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning EJS</title>
</head>
<body>
    <h1> <%= title %>  </h1>
    <p>Hi there,I am Mahbub Hossain Faisal. I am a software engineering student at American International University-Bangladesh. </p>
    <%= new Date().toString() %>  
    <% if(post.Published) { %> 
        <h2>Title: <%= post.Title %>  </h2>
        <p>Body:  <%= post.Body %>   </p>
    <% } else { %> 
            <p>post is not yet published!!! </p>
    <% } %> 

    <ul>
        <% for(let b of books) { %>
            <li> <%= b.title  %> by <%= b.author %>  </li>
            <% } %>
    </ul>
    
    
</body>
</html>